*
{
  margin: 0;
  padding: 0;
}

body{
  font: 15px/1.5 'raleway', sans-serif;
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;

}

#box{

  background-color: white;
  width: 660px;
  height: 850px;
  margin: 50px auto;
  border-radius: 20px;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #999;
}

#canvas{
  position: absolute;
  background-image: linear-gradient(to right, blue , red);
  width: 500px;
  height: 300px;
  margin-left: 80px;
  margin-top: 70px;}

#heart {
  position: absolute;
    align-items: center;
    top: 40px;
    left: 150px;
    width: 200px;
    height: 200px;
    background: purple;
    transform: rotate(45deg);
    box-shadow: 30px 30px 200px rgba(0,0,0,.5);
    animation: animate 1s linear infinite;
    transform: scale(1);
}
@keyframes animate{
  0%
  {
    transform: rotate(45deg) scale(.6);
  }
  20%
  {
    transform: rotate(45deg) scale(.4);
  }
  40%
  {
    transform: rotate(45deg) scale(.8);
  }
  60%
  {
    transform: rotate(45deg) scale(.6);
  }
  80%
  {
    transform: rotate(45deg) scale(.9);
  }
  100%
  {
    transform: rotate(45deg) scale(.6);
  }
}




#heart:before{
  content:'';
  position: absolute;
  width: 200px;
  height: 100px;
  background: purple;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  top: -100px;
}

#heart:after{
  content:'';
  position: absolute;
  width: 100px;
  height: 200px;
  background: purple;
 left: -100px;


  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

#plus{
  top: 110px;
  left: 60px;
  position: absolute;
  background: white;
  width: 25px;
  height: 85px;
  z-index: 1;
  opacity: 0.5;
}

#plus:before{
  content:'';
  position: absolute;
  background: white;
  width:25px;
  height: 85px;
  transform: rotate(90deg);
}

#minus{
  z-index: 1;
  top: 110px;
  left: 420px;

  position: absolute;
  background: white;
  width:25px;
  height: 85px;
  transform: rotate(90deg);
  opacity: 0.5;
}

#texttext{
  position: relative;
  top: 430px;


}

#box h1{
  text-align: center;
  color: black;

  width: 170px;
  margin: 10px auto;
  padding: 10px;
  padding-top: 20px;

}

#box p{
  padding: .5em 5.5em 5.5em 5.5em;
}
