
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */

body{
  font: 15px/1.5 'raleway', sans-serif;
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
}



  /* flag canvas */
#canvas {
  margin-left: 80px;
  margin-top: 70px;
  border: 0.05px black solid;

        width: 500px;
        height: 300px;
        position: absolute;
        background: white;
}
#box{

  background-color: white;
  width: 660px;
  height: 850px;
  margin: 50px auto;
  border-radius: 20px;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #999;
}

#whole{
  top: -118px;
  transform: rotate(31deg);
  transform-origin: 47% 52%;
  position: absolute;
  left: 112px;

}

#whole:hover{
  transform:scale(1.5);

  transition: all 1s;

}



#half-red {
        width: 150px;
        height: 75px;
        background: red;
        border-radius: 100px 100px 0 0;

        /* position the circle in the center of the flag */
        position: absolute;
        top: 75px;
        left: 175px;

         /* Safari 3-8 */
}

#half-navy {
        width: 150px;
        height: 75px;
        background: navy;
        border-radius: 0px 0px 100px 100px;

        /* position the circle in the center of the flag */
        position: absolute;
        top: 150px;
        left: 175px;

}

#small-red {
        width: 75px;
        height: 75px;
        background: red;
        border-radius: 100px 100px 100px 100px;

        /* position the circle in the center of the flag */
        position: absolute;
        top: 112.5px;
        left: 175px;

}

#small-navy {
        width: 75px;
        height: 75px;
        background: navy;
        border-radius: 100px 100px 100px 100px;

        /* position the circle in the center of the flag */
        position: absolute;
        left: 250px;
        top: 112.5px;

}



#Tleft{
  position: absolute;
transform: rotate(-45deg);
transform-origin: 25%;
top: 89px;
bottom: 170px;
}




#Tleft #top-left1{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 50px;
  left: 80px;
}

#Tleft #top-left2{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 80px;
}

#Tleft #top-left3{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 80px;
}

#Tright{
  position: absolute;
top: -263px;
transform: rotate(45deg);
transform-origin: 75%;
left: 148px;
}

#Tright #top-right1{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 50px;
  left: 340px;
}

#Tright #top-right11{
  width: 36px;
      height: 12.5px;
      background: black;
      position: absolute;
      top: 50px;
      left: 379px;
}

#Tright #top-right2{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 340px;
}

#Tright #top-right3{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 340px;
}

#Tright #top-right33{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 379px;
}

#Bleft{
  left: 90px;
    top: 90px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 25%;
}


#Bleft #B-left1{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 50px;
  left: 80px;
}

#Bleft #B-left2{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 80px;
}

#Bleft #B-left22{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 119px;
}

#Bleft #B-left3{
  width: 75px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 80px;
}

#Bright{
  left: 237px;
    top: 261px;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 25%;
}


#Bright #B-right1{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 50px;
  left: 119px;
}

#Bright #B-right11{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 50px;
  left: 80px;
}

#Bright #B-right2{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 80px;
}

#Bright #B-right22{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 67px;
  left: 119px;
}

#Bright #B-right3{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 80px;
}

#Bright #B-right33{
  width: 36px;
  height: 12.5px;
  background: black;
  position: absolute;
  top: 84px;
  left: 119px;
}


#texttext{
  position: relative;
  top: 430px;


}

#box h1{
  text-align: center;
color: black;
width: 170px;
margin: 0px auto;
/* padding: 10px; */
padding-bottom: 25px;

}

#texttext{
  padding: .5em 5.5em 1em 5.5em;
}

ul{
  margin-left: 25px;
}
li{
font-style: italic;
  list-style-position: inside;
}
a {
  color: black;
  text-decoration: none;
}

#refer:hover{
  ;
  text-decoration: none;
  color: #00ff00;
}
