
* {
    margin: 0px;
    padding: 0px;

}
body {

}
#desktop {

  width: 100vw;
  height:100vh;
  background-color: white;
/* Title */
}
#sfmood{
margin-top: 15px;
font-size: 70px;
text-align: center;
color: #13d0f3;
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;
}
/* menu_Nav */
.menu{
  top:85px;
  width: 700px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: calc(-700px/2);
font-size: 40px;
text-align: center;
font-family: acumin-pro-condensed, sans-serif;
font-weight: 700;
font-style: normal;
/* position: fixed; */
}


span{
  color:#13d0f3;
  padding-left:7px;
  padding-right:7px;
  text-decoration: none;
}

a {
  color:#13d0f3;
  text-decoration: none;
}
a:hover{

  color: white;
  text-shadow: 0 0 2px #23d0f3;
}
span:hover{
  color: white;
  text-shadow: 0 0 2px #23d0f3;
}



/* Gold text */

.china{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;

  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  text-align: left;
  color: #f25e5c;
  /* civic color */
}


.explanation{
  margin: 0px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  /* top:200px; */
  width: 400px;
  height: 50px;
  left: 6vw;
  top: 250px;

  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  text-align: left;
  color: #f25e5c;
}

/* imges */

.img-container{
  width: 100vw;
  /* background: red; */
  text-align: center;
}
.img-all{
  /* margin-bottom: 100px; */
  display: inline;
  position:relative;
}
.img2{
  display: inline;
}
.video1{
  /* margin-bottom: 100px; */
  display: inline;
  position:relative;
}


#ThreeImg{
  /* margin-top: 100px; */
  margin-bottom: 100px;
  display: inline;
  /* left: 600px; */
  position: relative;

}

/* Nav */
#oneto9{
top: 500px;
margin: 0px;
padding: 0px;
position: fixed;
left: 6vw;
text-align: left;


font-family: acumin-pro, sans-serif;
line-height:0.9;
color: #707070;


text-transform: uppercase;
}

/* margin: 0px;
padding: 0px;
position: absolute;
display: inline-block;
top:150px;
width: 250px;
height: 50px;
left: 6vw;
text-align: left; */



/* .aa{

  font-family: acumin-pro, sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 13px;
  color: #707070;
} */

.aa{
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: inline-block;
}


.aa:hover{
  text-shadow: none;
  font-weight: bold;
  color: black;
  text-shadow: none;
}

.Nav{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  color: black;
  padding-top: -200px;
}
.Nav:hover{

  color: black;
  text-shadow: none;
}

.one{
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: #707070;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

}

.one .Nav {
  visibility: hidden;
  z-index: 1;
}

.one .Nav4 {
  visibility: hidden;
  z-index: 1;
}

.one:hover .Nav {
  visibility: visible;
  text-shadow: none;
}


.aa4{
  font-family: acumin-pro, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #f25e5c;
  /* china color */
  text-transform: uppercase;
}

.Nav4{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  color: #f25e5c;
  text-shadow: none;
}
.Nav4:hover{

  color: #f25e5c;
  text-shadow: none;
}

.one:hover .Nav4 {
  visibility: visible;
  text-shadow: none;
}




/* caption for desktop*/

.caption{
top: 500px;
right: 6vw;
position: fixed;
padding: 30px;
margin: auto 50px;
display: inline-block;
margin: 10px;
}

.cap_title{
font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 12px;
  color: #0B0A0A;
  /* padding-bottom: 3px; */
}
.cap_text1, .cap_text2{
  font-family: acumin-pro, sans-serif;
  font-weight: 200;
  font-style: italic;
font-size: 12px;
  color: #0B0A0A;
}

.cap_text2:hover{
  color: #13d0f3;
}






#tablet,
#mobile,
#print {
    display: none;
}

/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }
    #mobile {

      display: inline;
      width: 100vw;
      height:100vh;

      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
    }
/* Title and Navmenu */
    #Sfmood{
      margin-top: 15px;
    font-size: 60px;
    text-align: center;
    color: #13d0f3;
    /* skyblue */
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    }


    span{
      color:#13d0f3;
      padding-left:7px;
      padding-right:7px;
      text-decoration: none;
    }

    a {
      color:#13d0f3;
      text-decoration: none;
    }
    a:hover{

      color: white;
      text-shadow: 0 0 2px #23d0f3;
    }
    span:hover{
      color: white;
      text-shadow: 0 0 2px #23d0f3;
    }

    .menu{
      top:75px;
      width: 700px;
      height: 50px;
      left: 50%;
      margin-left: calc(-700px/2);
    font-size: 30px;
    text-align: center;

    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    }

    /* Gold text for mobile*/

    .china{
      margin: 0px;
      padding: 0px;
      position: absolute;
      display: inline-block;
      top:170px;
      width: 250px;
      height: 50px;
      left: 6vw;
      text-align: left;

      font-family: acumin-pro, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      color: #f25e5c;
      /* china color */
    }


    .explanation{
      margin: 0px;
      padding: 0px;
      position: absolute;
      display: inline-block;
      top:200px;
      width: 300px;
      height: 50px;
      left: 6vw;
      text-align: left;

      font-family: acumin-pro, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 10px;
      color: #f25e5c;
    }

    /* imgs for mobile*/

    .img-container{
      margin-top: 190px;
      width: 100vw;
      /* background: red; */
      text-align: center;
    }
    .img-all{
      /* margin-bottom: 100px; */
      display: inline;
      position:relative;
    }

    #ThreeImg{
      /* margin-top: 100px; */
      display: inline;
      /* left: 600px; */
      position: relative;
    }

    .video1{
      /* margin-bottom: 100px; */
      display: inline;
      position:relative;
    }


    /* captoin */



    .caption{


    display: block;
    position: absolute;
    }

    .cap_title{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
      color: #0B0A0A;

    }
    .cap_text1, .cap_text2{
      font-family: acumin-pro, sans-serif;
      font-weight: 200;
      font-style: italic;
    font-size: 10px;
      color: #0B0A0A;
    }

    .cap_text2:hover{
      color: #13d0f3;
    }

    /* footer for mobile */

    footer {

    text-align: center;
    background-color: #13d0f3;
    padding: 15px;

    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    color: white;
    }


    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
