
body {
  padding: 0;
  margin: 0;

}

/* desktop */
#desktop {

width: 100vw;
height:100vh;

background-image:  url("../map.png");
background-repeat:no-repeat;
background-size: contain;
background-position: 50% 50%;
z-index: 99;

font-family: acumin-pro, sans-serif;
font-weight: 300;
font-size: 0.9em;
 }

 .FISHERMEN{
   position: absolute;
   left: 900px;
   top: 200px;
 }

 .FISHERMEN:hover{
   font-weight: bold;
 }



   #mobile{
       display: none;




/* mobile */

/* mobile */
@media (max-width: 670px)  {
    body {
        background: white;
    }
    #mobile {
      z-index: 3;
      display: inline;
      width: 100vw;
      height:100vh;
      background-image: url("../map2.png");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }
}
