body {
	margin: 0;
	padding: 0;

}

#grey1{
	height: 100vh;
	width:40vw;
	background: rgba(0, 0, 0, 0.05);
	z-index:-10;
	position: absolute;
}

.letter-container{
	z-index: 10;
	filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.3));
	top: 0px;
	align-items: center;
	background-color: white;
	width: 85vw;
	height: 47.8vw;
	margin: 0px auto;
	/* border: 5px solid #ccc; */
	/* border-right: 5px solid #ccc;
	border-bottom: 5px solid #999; */
}
.letter-center{
	/* position: absolute;
	left: 50%;
	margin-left: -470px; */
}
.letter-scale{
	transform: scale(0.7);
	transform-origin: center center;
}

.letter-width{
	padding-top: 9vw;
	width: 90vw;
	/* padding-left: 4vw;
	margin-left:  -4vw;
	padding-top: 4vw; */
	letter-spacing: 0;
}
.letter {
	width: 90px;
	height: 80px;
	position: relative;
	float: left;
	margin: 35px;
}


/* A */
#Both-A{
	position: relative;
}
#Both-A:hover .left{
	transform: scaleY(0);
}
#Both-A:hover .right{
	transform: scaleY(0);
}
#Both-A:hover .top{
	transform: scaleX(0);
}
#Both-A:hover .left2{

	animation: scaleYprss 400ms forwards;

}
#Both-A:hover .top2{

	animation: scaleXprss 400ms forwards;
}


#A .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}
  #A .vertical {
		/* background: blue; */
		background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}


#A .vertical.right {
	border-top-right-radius:40px;
	right: 0px;
	top: 0px;
	height: 80px;
	transition: transform 100ms;

	transform-origin:0px 40px;
}


#A .horizontal.top {
	border-top-right-radius:40px;
	border-top-left-radius:40px;
	width: 90px;
	height: 40px;
	top: 0px;
	left: 0px;
	z-index: 1;
	transition: transform 100ms;
	transition-delay: 100ms;
	transform-origin: 40px 0px;
}

#A .vertical.left {
	border-top-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
	transition: transform 100ms;
	transition-delay: 200ms;
	transform-origin:0px 80px;
}




/* B */
#Both-B{
	position: relative;
}
#Both-B:hover .left{
	transform: scale(0);
}
#Both-B:hover .right{
	transform: scale(0);
}
#Both-B:hover .bottom{
	transform: scaleY(0);
}

#Both-B:hover .left2{
	animation: scaleYprss 400ms forwards;
}
#Both-B:hover .middle2{
	animation: scaleXprss 400ms forwards;
}

#Both-B:hover .right2{
	animation: scaleYprss 400ms forwards;
}



#B .vertical {
		/* background: red;	 */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#B .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 80px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#B .vertical.left {
	left: 50px;
	top: 40px;
	border-radius: 40px;
	z-index: 1;
	transition: transform 150ms;
	transform-origin: 50%;


}

#B .vertical.right {
	right: 0px;
	top: 0px;
	border-radius: 40px;
	transition: transform 150ms;
	transition-delay: 150ms;
	transform-origin: 50%;
}


#B .horizontal.bottom {
	bottom: 0px;
	left: 0px;
	transition: transform 100ms;
	transform-origin: bottom;
	transition-delay: 300ms;
}


/* C */
#Both-C{
	position: relative;
}
#Both-C:hover .top{
	transform: rotate(90deg);
	margin-bottom: -10px;
	opacity: 0;
}
#Both-C:hover .bottom{
	transform: rotate(90deg);
	margin-left: -10px;
	opacity: 0;
}

#Both-C:hover .left{
	transform: scaleY(0);
}
/* -- for ko*/

#Both-C:hover .left2{
	animation: scaleYprss 400ms forwards;
	animation-delay: 500ms;
/*
	transform: scaleY(0); */
}

#Both-C:hover .bottom2{
	animation: CBttm2prss 450ms forwards;
	animation-delay: 680ms;
/*
	transform: rotate(90deg);
	margin-left: 10px;
	opacity: 0; */
}

#Both-C:hover .top2{
	animation: CBtp2prss 450ms forwards;
	animation-delay: 900ms;
	/*
	transform: rotate(90deg);
	margin-bottom: 10px;
	opacity: 0; */
}

#C .vertical {
	/* background: blue; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#C .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}
/* -- */
#C .horizontal.top {
	border-top-right-radius:40px;
	width: 40px;
	height: 35px;
	top: 0px;
	left: 50px;
	z-index: -1;
	transform-origin: 0% 100%;
  transition-property: transform, margin-bottom, opacity;
	transition-duration: 250ms, 250ms, 250ms;
	transition-delay: 0ms, 0ms, 0ms;
}

#C .horizontal.bottom {
border-bottom-right-radius:40px;
	width: 40px;
	height: 35px;
	top: 45px;
	left: 50px;
	z-index: -1;
	transform-origin: 0% 0%;
  transition-property: transform, margin-left, opacity;
	transition-duration: 250ms, 250ms, 250ms;
	transition-delay: 100ms, 100ms, 100ms;
}


#C .vertical.left {
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
	transform-origin: 0% 0%;
	transition-property: transform;
	transition-duration: 200ms;
	transition-delay: 280ms;
}

/* D */
#Both-D{
	position: relative;
}
#Both-D:hover .right{
	transform: translateX(-50px);
	opacity: 0;
}
#Both-D:hover .left{
	transform: scaleY(0);

}

#Both-D:hover .left{
	transform: scaleY(0);
}

/* -- for ko*/
/* vertical */
#Both-D:hover .left2{
		animation: scaleYprss 500ms forwards;
		animation-delay: 400ms;
}
/* hori */
#Both-D:hover .bottom2{
	animation: scaleXprss 400ms forwards;
	animation-delay: 600ms;
}

#Both-D:hover .top2{
		animation: scaleXprss 300ms forwards;
		animation-delay: 900ms;
}

/* ---- */
#D .vertical {
	/* background: blue; */
	background: black;
	width: 40px;
	height: 80px;
	position: absolute;
}
/* --- */
#D .vertical.right {
	border-top-right-radius: 40px;
	right: 0px;
	top: 0px;
	transition-property: opacity, transform;
	transition-duration: 500ms,250ms;
	transition-delay: 0ms;
}

#D .vertical.left {
	left: 0px;
	transform-origin: 0% 100%;
	transition-property: transform;
	transition-duration: 50ms;
	transition-delay: 350ms;
}





/* E */

#E .vertical {
	/* background: red; */
	background: black;
	color: red;
	width: 40px;
	height: 35px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#E .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#E .vertical.left {
	left: 50px;
	top: 45px;
	z-index: 1;
}

#E .vertical.right {
	right: 0px;
	top: 0px;
}

#E .horizontal.bottom {
	bottom: 0px;
	left: 0px;
}

/* F */

#F .vertical {
	/* background: red; */
	background: black;
	width: 40px;
	height: 35px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#F .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#F .vertical.right {
	right: 0px;
	top: 0px;
}

#F .horizontal.top {
	top: 0px;
	left: 0px;
}

#F .horizontal.bottom {
	bottom: 0px;
	left: 0px;
}

/* G */

#G .vertical {
	/* background: blue; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#G .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#G .horizontal.top {
	border-top-right-radius:40px;
	width: 40px;
	height: 35px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#G .vertical.left {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}

#G .horizontal.bottom {
  border-bottom-left-radius:40px;
	width: 40px;
	height: 35px;
	top: 45px;
	left: 50px;
	z-index: -1;
}

/* H */

#H .vertical {
	/* background: blue; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#H .horizontal{
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#H .vertical.left {
	left: 50px;
	top: 40px;
}

#H .vertical.right {
	right: 0px;
	top: 0px;
}

#H .horizontal.top {
	top: 0px;
	left: 0px;
}

#H .horizontal.bottom {
	bottom: 0px;
	left: 0px;
}

#H .middle {
	position: absolute;
	background-color: black;
	top: 30px;
	left: 0px;
	z-index: 99;
	width: 90px;
	height: 20px;
}

/* I */

#I .vertical {
	/* background: red; */
	background: black;
	color: red;
	width: 40px;
	height: 80px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#I .horizontal {
	/* color: blue; */
	background-color: black;
	width: 90px;
	height: 20px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#I .vertical.right {
	right: 25px;
	top: 0px;
}

#I .horizontal.top {
	top: 0px;
	left: 0px;
}


#I .horizontal.bottom {
	bottom: 0px;
	left: 0px;
}

/* J */

#J .vertical {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#J .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#J .vertical.right {
	right: 0px;
	top: 0px;
}

#J .horizontal.bottom {
	border-bottom-left-radius:40px;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 0px;
	z-index: -1;
}

#J .horizontal.bottom2 {
	border-bottom-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 50px;
	z-index: -1;
}


/* K */

#K .vertical {
	/* background: blue; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#K .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}



#K .horizontal.top {
	border-top-left-radius:40px;
	width: 40px;
	height: 35px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#K .vertical.left {
	height: 80px;
	left: 0px;
	top: 0px;
}


#K .horizontal.bottom {
	border-bottom-left-radius:40px;
	width: 40px;
	height: 35px;
	top: 45px;
	left: 50px;
	z-index: -1;
}

/* L */

#L .vertical {
	/* background: red; */
	background: black;
	width: 40px;
	height: 80px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#L .horizontal {
	/* background: red; */
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}



#L .horizontal.bottom {
	bottom: 0px;
	left: 50px;
}

/* M */

#M .vertical {
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#M .horizontal {
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#M .vertical.left {
	background: black;
	width: 40px;
	height: 40px;
	left: 50px;
	top: 40px;
	z-index: 1;
}

#M .vertical.right {
	width: 0;
height: 0;
border-style: solid;
border-width: 0 0 40px 40px;
border-color: transparent transparent black transparent;
	right: 0px;
	top: 0px;
}

#M .horizontal.top {
	width: 0;
height: 0;
border-style: solid;
border-width: 40px 0 0 40px;
border-color: transparent transparent transparent black;
	top: 0px;
	left: 0px;
}


#M .horizontal.bottom {
	background: black;
	width: 40px;
	height: 40px;
	bottom: 0px;
	left: 0px;
}

/* N */

#N .vertical {
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#N .horizontal {
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#N .vertical.left {
	background: black;
	width: 40px;
	height: 40px;
	left: 50px;
	top: 40px;
	z-index: 1;
}

#N .vertical.right {
	width: 40px;
	height: 40px;
	background: black;
	right: 0px;
	top: 0px;
}

#N .horizontal.top {
	width: 0;
height: 0;
border-style: solid;
border-width: 40px 0 0 40px;
border-color: transparent transparent transparent black;
	top: 0px;
	left: 0px;
}


#N .horizontal.bottom {
	background: black;
	width: 40px;
	height: 40px;
	bottom: 0px;
	left: 0px;
}

/* o */
#O .vertical {
	background: blue;
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#O .horizontal {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}



#O .horizontal.top {
border-top-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#O .vertical.left {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}

#O .vertical.right {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}



#O .horizontal.bottom {
border-bottom-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 50px;
	z-index: -1;
}

/* P */

#P .vertical {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#P .horizontal {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#P .horizontal.top {
	border-top-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#P .vertical.left {

	height: 80px;
	left: 0px;
	top: 0px;
}

/* Q */
#Q .vertical {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#Q .horizontal {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}



#Q .horizontal.top {
border-top-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#Q .vertical.left {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}

#Q .vertical.right {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}



#Q .horizontal.bottom {

	width: 40px;
	height: 40px;
	top: 40px;
	left: 50px;
	z-index: -1;
}

/* R */
#R .vertical {
	width: 0px;
	height: 0px;
	position: absolute;
}

#R .horizontal {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#R .vertical.left {
width: 0;
height: 0;
border-style: solid;
border-width: 40px 0 0 40px;
border-color: transparent transparent transparent #black;
	left: 50px;
	top: 40px;
}

#R .vertical.right {
	background: black;
	width: 40px;
	height: 40px;
	border-top-right-radius: 40px;
	right: 0px;
	top: 0px;
}


#R .horizontal.bottom {
	bottom: 0px;
	left: 0px;
}

/* S */

#S .vertical {
	background: black;
	width: 40px;
	height: 35px;
	position: absolute;
}

#S .horizontal {
	background: black;
	width: 40px;
	height: 35px;
	position: absolute;
}


#S .vertical.right {

	border-top-left-radius:40px;
	height: 35px;
	left: 10px;
	top: 0px;
}

#S .vertical.left {
	z-index: 99;
	right: 0px;
	top: 0px;
	border-top-right-radius:40px;
}


#S .horizontal.bottom2 {
	z-index: 99;
	right: 50px;
	top: 45px;
	border-bottom-left-radius:40px;
}

#S .horizontal.bottom {
	border-bottom-right-radius:40px;
	height: 35px;
	left: 40px;
	top: 45px;
}

/* T */

#T .vertical {
background: black;
	width: 40px;
	height: 80px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}

#T .horizontal {
background: black;
	width: 90px;
	height: 20px;
	position: absolute;
	float: left;
  display: inline-block;
	z-index: 1;
}


#T .vertical.right {
	right: 25px;
	top: 0px;
}

#T .horizontal.top {
	top: 0px;
	left: 0px;
}


/* U */

#U .vertical {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#U .horizontal {
	background: black;
	width: 40px;
	height: 40px;
	position: absolute;
}

#U .vertical.right {
	border-top-left-radius:40px;
	border-bottom-left-radius:40px;
	height: 80px;
	left: 0px;
	top: 0px;
}

#U .horizontal.bottom {
border-bottom-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 50px;
	z-index: -1;
}

#U .horizontal.bottom3 {
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: 1;
}



#V .vertical.right {

width: 0;
height: 0;
border-style: solid;
border-width: 0 40px 40px 0;
border-color: transparent black transparent transparent;
left: 0px;
top: 40px;
position: absolute;
}

#V .horizontal.bottom {

	left: 50px;
	top: 40px;
	position: absolute;
	width: 0;
	height: 0;
	width: 0;
height: 0;
border-style: solid;
border-width: 40px 40px 0 0;
border-color: black transparent transparent transparent;
}

#V .horizontal.bottom3 {
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: 1;
	background: black;
}

#V .horizontal.bottom2 {
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: 1;
	background: black;
	position: absolute;
}



/* W */
#W .vertical.right {
width: 0;
height: 0;
width: 0;
height: 0;
border-style: solid;
border-width: 40px 40px 0 0;
border-color: black transparent transparent transparent;
left: 0px;
top: 40px;
position: absolute;
}

#W  .horizontal.bottom {
left: 50px;
top: 40px;
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 40px 40px 0;
border-color: transparent black transparent transparent;
}

#W  .horizontal.bottom3 {
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: 1;
	background: black;
}

#W  .horizontal.bottom2 {
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: 1;
	background: black;
	position: absolute;
}

/* X */

#X .vertical.right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 40px;
	border-color: transparent transparent black transparent;
left: 0px;
top: 40px;
position: absolute;
}

#X .bottom.right {
left: 50px;
top: 40px;
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 40px 0 0 40px;
border-color: transparent transparent transparent black ;
}

#X  .top.left {
	top: 0px;
	left: 50px;
	width: 0;
height: 0;
border-style: solid;
border-width: 0 40px 40px 0;
border-color: transparent black  transparent transparent;
}

#X  .top.right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
	border-color: black  transparent transparent transparent;
	top: 0px;
	left: 50px;
	position: absolute;
}

/* Y */



#Y .top.right {
	z-index: 1;
	background: black;
	position: absolute;
border-bottom-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 50px;
	z-index: -1;
}

#Y .bottom.vertical{
	z-index: 99;
	position: absolute;
	background: black;
	width: 20px;
	height: 40px;
	left:35px;
	top: 40px;
}

#Y .top.left {
	background: black;
	position: absolute;
	border-bottom-left-radius:40px;
	/* border-bottom-right-radius:40px; */
	height: 40px;
	width: 40px;
	width:
	left: 0px;
	top: 0px;
}

#Y .horizontal.bottom {
border-bottom-right-radius:40px;
	width: 40px;
	height: 40px;
	top: 40px;
	left: 50px;
	z-index: -1;
}

/* z */

#Z .vertical {
	width: 40px;
	height: 40px;
	position: absolute;
}

#Z .horizontal {
	width: 40px;
	height: 40px;
	position: absolute;
}

#Z .horizontal.right {
	background: black;
	top: 0px;
	left: 0px;
}


#Z .vertical.right {
	z-index: 44;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0 0;
	border-color: black  transparent transparent transparent;
left: 50px;
top: 0px;
position: absolute;
}


#Z .horizontal.left {
z-index: 3;
left: 0px;
top: 40px;
position: absolute;
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 40px 40px;
border-color: transparent transparent black transparent;
}

#Z .horizontal.bottom {
	bottom: 0px;
	left: 50px;
background: black;

}










/* Alternative A using Multiple Gradients */

#alt-a {
	background: black;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, white 1px, transparent 0px), radial-gradient(white 0%, black 70%);
    background-size: 200px 140px, 200px 200px;
    background-position: 99px 160px, 0px 0px;
    border-radius: 100px 100px 0px 0px;
}
